.busqueda{
    display: grid;
    grid-template-rows: auto auto;
    margin: 5vh;
}

.nav{
    height: 5vh;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 15px;
}

.nav a {
    transition: transform .1s;
    cursor: pointer;
    justify-self: start;
    align-self: end;
}

.listacreadores{
    display: grid;
    grid-template-columns: 50% auto;
    margin-top: 15px;
}

.listacreadores p  {
    transition: transform 1s;
    margin: 5px 0px 5px 0px;
    cursor: pointer;
}

.listacreadores span{
    font-size: 20px;
    font-weight: bold;
}

.listacreadores ul {
    list-style-type:none;
}
  
.nav a:hover  {
    transform: scale(1.1);
}

.textbox{
    height: 75vh;
    width: 85%;
    border:none;
    overflow:auto;
}

#scrollbar {
	overflow-y: scroll;
    scrollbar-width: none;
}

#scrollbar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	background-color: #000000;
}

#scrollbar::-webkit-scrollbar
{
	background-color: #000000;
    display: none;
    
}

#scrollbar::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #D62929;
}


/* SALA MENU **************************************/

.listasalamenu {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    row-gap: 15px;   
}

.listasalamenu .salas{
    display: flex;
    flex-wrap: wrap;
}

.listasalamenu .salas .sala{
    width: 100px;
    height: 40px;
    margin: 10px;
    cursor: pointer;
    display: grid;
}

.listasalamenu .salas p{
    align-self: center;
    justify-self: center;
}

#selected {
    width: 100px;
    height: 45px;
    background:rgb(0, 0, 0);
    border-radius: 25px;
    color: white;
}

.button{
    justify-self: center;
} 

/* SALAS (flor) *****************************************/

.listasalasexploracion{
    margin: 50px 0px 0px 100px;
    display: grid;
    grid-template-columns: 500px;
    grid-template-rows: auto auto;
    width: 100%;
    min-height: 0; 
    min-width: 0; 
    grid-gap: 10px;
}

.listasalasexploracion .upper {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    overflow: hidden;
    min-width: 0; 
    row-gap: 10px;
    column-gap: 10px;
}

.listasalasexploracion .cuadradobase{
    display: grid;
    grid-template-rows: auto auto;
    align-content: center;
    text-align: center;
    justify-self: center;
    width: 230px;
    height:120px;
    background:white;
    border-radius: 0 0 50px 50px;
    color: black;
    cursor: pointer;
    overflow: hidden;  /* NEW */
    min-width: 0;      /* NEW; needed for Firefox */
}

.listasalasexploracion .cuadrado{
    width:auto;
    width: 230px;
    height:180px;
    background:white;
    border-radius: 0 50px 0 50px;
    color: black;
    cursor: pointer;
}

.listasalasexploracion .cuadradoinv{
    width:auto;
    width: 230px;
    height:180px;
    background:white;
    border-radius: 50px 0 50px 0;
    color: black;
    cursor: pointer;
}

.listasalasexploracion .cuadrado p, .listasalasexploracion .cuadradoinv p{
    margin: 10px 20px 10px 20px;
    font-size: 14px;
    text-align: justify;
}

.listasalasexploracion .cuadradobase p{
    font-size: 14px;
}

#pinv{
    direction: rtl;
}

#cuadradoN{
    background:black;
    color: white;
}

/************************************* SALAS (flor) *****************************************/

.button nav ul {
    cursor: pointer;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.button nav ul li {
    --c: rgb(0, 0, 0);
    color: var(--c);
    font-size: 20px;
    border-radius: 0.5em;
    width: 12em;
    height: 3em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 3em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 1em;
}

.button nav ul li span {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

.button nav ul li:hover {
    color: rgb(255, 255, 255);
}

.button nav ul li:hover span {
    transform: translateY(0) scale(2);
}

.button nav ul li span:nth-child(1) {
    --n: 1;
}

.button nav ul li span:nth-child(2) {
    --n: 2;
}

.button nav ul li span:nth-child(3) {
    --n: 3;
}

.button nav ul li span:nth-child(4) {
    --n: 4;
}

@media (max-width: 850px){
    .listasalasexploracion{
        margin: 50px 0px 0px 0px;
    }
}

@media (max-width: 560px){   

    .listacreadores p  {
        font-size: 12px;
    }
    
    .listacreadores span{
        font-size: 16px;
    }

    .textbox{
        height: 43vh;
        width: 85%;
        border:none;
        overflow:auto;
    }

    .listasalasexploracion{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        width: 100%;
        min-height: 0; 
        min-width: 0; 
    }
    
    .listasalasexploracion .upper {
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .listasalasexploracion .cuadradobase{
        display: grid;
        grid-template-rows: auto auto;
        align-content: center;
        text-align: center;
        justify-self: center;
        width: 230px;
        height:120px;
        background:white;
        border-radius: 20px 20px 20px 20px;
        color: black;
        cursor: pointer;
        overflow: hidden;  /* NEW */
        min-width: 0;      /* NEW; needed for Firefox */
    }
    
    .listasalasexploracion .cuadrado{
        width:auto;
        width: 230px;
        height:180px;
        background:white;
        border-radius: 20px 20px 20px 20px;
        color: black;
        cursor: pointer;
    }
    
    .listasalasexploracion .cuadradoinv{
        width:auto;
        width: 230px;
        height:180px;
        background:white;
        border-radius: 20px 20px 20px 20px;
        color: black;
        cursor: pointer;
    }
    
    .listasalasexploracion .cuadrado p, .listasalasexploracion .cuadradoinv p{
        margin: 10px 20px 10px 20px;
        font-size: 14px;
        text-align: justify;
    }
    
    .listasalasexploracion .cuadradobase p{
        font-size: 14px;
    }
    
    #pinv{
        direction: rtl;
    }
    
    #cuadradoN{
        background:black;
        color: white;
    }
} 
