.busqueda {
    display: grid;
    grid-template-rows: 10% auto;
    margin: 5vh;
}

.nav {
    height: 5vh;
    display: grid;
    grid-template-columns: 250px 150px;
    grid-column-gap: 15px;
}

.nav a {
    transition: transform .1s;
    cursor: pointer;
    justify-self: start;
    align-self: end;
}

.listacreadores{
    display: grid;
    margin-top: 5vh;
    grid-template-columns: 50% 50%;
    justify-items: start;
    align-items: start;
    justify-content: stretch;
}

.creador {
    font-size: 32px;
}


.listacreadores p  {
    transition: transform .1s;
    margin: 10px 0px 10px 0px;
    cursor: pointer;
}
  
.listacreadores p:hover, .nav a:hover  {
    transform: scale(1.05);
}

.listacreadores ul {
    list-style-type:none;
}

/* SALA MENU **************************************/

.listasalamenu {
    margin-top: 7%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    row-gap: 15px;   
}

.listasalamenu .salas{
    display: flex;
    flex-wrap: wrap;
}

.listasalamenu .salas .sala{
    width: 100px;
    height: 40px;
    margin: 10px;
    cursor: pointer;
    display: grid;
}

.listasalamenu .salas p{
    align-self: center;
    justify-self: center;
}

#selected {
    width: 100px;
    height: 45px;
    background:rgb(0, 0, 0);
    border-radius: 25px;
    color: white;
}

.button{
    justify-self: center;
}

@media (max-width: 430px){
    .listasalamenu {
        row-gap: 10px;   
    }
    
    .listasalamenu .salas .sala{
        width: 50px;
        height: 30px;
        margin: 5px;
    }
    
    #selected {
        width: 70px;
        height: 45px;
        background:rgb(0, 0, 0);
        border-radius: 25px;
        color: white;
    }
    
    .button{
        justify-self: center;
    }
}

/* SALAS *****************************************/

.listasalasexploracion{
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    row-gap: 15px;
    width: 500px;
}

.listasalasexploracion .upper {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 50% auto;
    column-gap: 10px;
    row-gap: 10px;
}

.listasalasexploracion .cuadradobase{
    display: grid;
    grid-template-rows: auto auto;
    align-content: center;
    text-align: center;
    justify-self: center;
    width: 250px;
    height:120px;
    background:white;
    border-radius: 0 0 50px 50px;
    color: black;
    cursor: pointer;
}

.listasalasexploracion .cuadrado{
    width:auto;
    height:150px;
    width: 300px;
    background:white;
    border-radius: 0 50px 0 50px;
    color: black;
    cursor: pointer;
}

.listasalasexploracion .cuadradoinv{
    width:auto;
    height:150px;
    width: 300px;
    background:white;
    border-radius: 50px 0 50px 0;
    color: black;
    cursor: pointer;
}

.listasalasexploracion .cuadrado p, .listasalasexploracion .cuadradoinv p{
    margin: 10px 20px 10px 20px;
    font-size: 14px;
    text-align: justify;
}

.listasalasexploracion .cuadradobase p{
    font-size: 14px;
}

#pinv{
    direction: rtl;
}

#cuadradoN{
    background:black;
    color: white;
}

@media (max-width: 1200px){   
    .listasalasexploracion .upper {
        grid-template-columns: auto auto;
    }
    
    .listasalasexploracion .cuadradobase{
        width: calc(250px * .7);
        height:calc(120px * .7);
    }
    
    .listasalasexploracion .cuadradoinv, .listasalasexploracion .cuadrado{
        height:120px;
        width: 250px;
    }
    
    .listasalasexploracion .cuadrado p, .listasalasexploracion .cuadradoinv p{
        font-size: 12px;
    }
    
    .listasalasexploracion .cuadradobase p{
        font-size: 10px;
    }

}

@media (max-width: 950px){   
    .listasalasexploracion .upper {
        grid-template-columns: auto auto;
    }
    
    .listasalasexploracion .cuadradobase{
        width: calc(250px * .7);
        height:calc(120px * .7);
    }
    
    .listasalasexploracion .cuadradoinv, .listasalasexploracion .cuadrado{
        height:130px;
        width: 200px;
    }
    
    .listasalasexploracion .cuadrado p, .listasalasexploracion .cuadradoinv p{
        font-size: 11px;
    }
    
    .listasalasexploracion .cuadradobase p{
        font-size: 10px;
    }

}

@media (max-width: 850px){   
    .listasalasexploracion .upper {
        grid-template-columns: auto auto;
    }
    
    .listasalasexploracion .cuadradobase{
        width: calc(250px * .7);
        height:calc(120px * .7);
    }
    
    .listasalasexploracion .cuadradoinv, .listasalasexploracion .cuadrado{
        height:120px;
        width: 250px;
    }
    
    .listasalasexploracion .cuadrado p, .listasalasexploracion .cuadradoinv p{
        font-size: 12px;
    }
    
    .listasalasexploracion .cuadradobase p{
        font-size: 10px;
    }

}

/* SALAS *****************************************/

@media  (max-width: 800px) {
    .nav {
        grid-template-columns: 150px 150px;
    }

    .creador {
        font-size: 18px;
    }

    .nav a{
        font-size: 14px;
    }

} 

@media  (max-width: 400px), (max-height:500px) {

    .nav {
        grid-template-columns: 50vw;
        grid-template-rows: auto auto;
        grid-row-gap: 10px;
    }

    .listacreadores{
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }
} 

.button nav ul {
    cursor: pointer;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.button nav ul li {
    --c: rgb(0, 0, 0);
    color: var(--c);
    font-size: 20px;
    border-radius: 0.5em;
    width: 12em;
    height: 3em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 3em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 1em;
}

.button nav ul li span {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

.button nav ul li:hover {
    color: rgb(255, 255, 255);
}

.button nav ul li:hover span {
    transform: translateY(0) scale(2);
}

.button nav ul li span:nth-child(1) {
    --n: 1;
}

.button nav ul li span:nth-child(2) {
    --n: 2;
}

.button nav ul li span:nth-child(3) {
    --n: 3;
}

.button nav ul li span:nth-child(4) {
    --n: 4;
}