.container{
    display: grid;
    grid-template-columns: 3% auto;
    height: 100vh;
    width: 100vw;
}

.detalles{
    margin: 20px;
    grid-column-start: 2;
    display: grid;
    grid-template-rows: auto auto;
}

.detalles h1 {
    margin: 3vh 3vh 1vh 3vh;
}

.detalles h3 {
    margin: 0vh 3vh 3vh 3vh;
}

.detalles p {
    margin: 3vh;
}
