.exploracion{
    grid-template-columns: 50% 50%;
    display: grid;
}

.exploracion #menuexploracion{
    width: 100%;
    height: 100vh;
    align-self: start;
}

.contenido {
    display: grid;
    grid-template-rows: 70% 30%;
    place-items: center;
}

.contenido .exploracion_img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
}

.contenido .exploracion_img img {
    width: 50%;
}

.button nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.button nav ul li {
    cursor: pointer;
    --c: rgb(255, 255, 255);
    color: var(--c);
    font-size: 20px;
    border-radius: 0.5em;
    width: 12em;
    height: 3em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 3em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 1em;
}

.button nav ul li span {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

.button nav ul li:hover {
    color: rgb(0, 0, 0);
}

.button nav ul li:hover span {
    transform: translateY(0) scale(2);
}

.button nav ul li span:nth-child(1) {
    --n: 1;
}

.button nav ul li span:nth-child(2) {
    --n: 2;
}

.button nav ul li span:nth-child(3) {
    --n: 3;
}

.button nav ul li span:nth-child(4) {
    --n: 4;
}

@media (max-height: 600px){
    .contenido img {
        display: none;
    }
}


@media (max-width: 1050px){

    .contenido img {
        width: 25%;
    }

    .exploracion{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        height: auto;
        align-items: center;
        justify-items: center;
    }
    
    .exploracion #menuexploracion{
        width: auto;
        height: auto;
        align-self: start;
    }
    
    .contenido {
        display: grid;
        width: 100%;
        justify-items: center;
        align-content: center;
        text-align: center;
        row-gap: 10%;
    }
    
}