.container{
    /* background-color: rgb(255, 6, 222); */
    display: grid;
    grid-template-columns: auto auto auto;
    height: 100vh;
}

.containerFS{
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
}

.informacion {
    /* background-color: blue; */
    padding: 50px;
    display: grid;
    grid-template-rows: repeat(4, auto);
    align-items: start;
    align-content: start;
    
}

.containerFS .informacionHiiden{
    display: none;
}

.containerV{
    display: grid;
    grid-template-columns: 50% auto;
    height: 100vh;
}


.informacion #titulo{
    /* background-color: rebeccapurple; */
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 10px;
}

.informacion #datos{
    /* background-color: red; */
    font-size: 20px;
    margin-bottom: 15px;
}

.informacion #tecnica{
    /* background-color:green; */
    font-size: 18px;
    margin-bottom: 30px;
}

.informacion .textos .opcionesTexto{
    /* background-color: gray; */
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.informacion .textos .opcionesTexto p{
    margin: 20px;
}

.cuerpoTextoContainter{
    /* background-color: brown; */
    margin-top: 15px;
    text-align: justify;
}

.textboxArte{
    padding: 1vw;
    height:30vh;
    width:auto;
    border:none;
    overflow:auto;
}


.obra{
    display: grid;
    align-items: center;
    justify-items: center;
}

.obra img{
    margin: 10px;
    height: 65vh;
    object-fit: scale-down;
    cursor: pointer;
}

.containerFS .obraFS img{
    height: 95vh;
    margin: 10px;
    cursor: pointer;
}


.componentevermas {
    text-align: justify;
    width: auto;
}

.componentevermasancho {
    text-decoration: none;
    color:rgb(189, 22, 22);
}

.componentevermasancho a:hover { text-decoration: none; color:rgb(189, 22, 22); }
.componentevermasancho a:focus { text-decoration: none; color:rgb(189, 22, 22); }
.componentevermasancho a:active { text-decoration: none; color:rgb(189, 22, 22); }

.datos{
    margin: 30px;
    height: auto;
    width: 90%;
}

.datos h1 {
    margin-bottom: 5px;
}

.datos h3 {
    margin-bottom: 15px;
}

.textos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 25px;
}

.textos #textotitulo{
    margin-top: 25px;
    font-size: 32px;
    color:rgb(189, 22, 22);
    font-weight: bolder;
}

.textos #textocuerpo{
    margin-top: 15px;
    font-size: 20px;
}

.textboxbio{
    height:80px;
    width:auto;
    border:none;
    overflow:auto;
}


.textbox{
    margin-top: 25px;
    padding: 1vw;
    height:50vh;
    width:auto;
    border:none;
    overflow:auto;
}

.tipoTextoContainer{
    cursor: pointer;
}

#scrollbar {
	background: #000000;
	overflow-y: scroll;
}

#scrollbar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #000000;
}

#scrollbar::-webkit-scrollbar
{
	width: 12px;
	background-color: #000000;
}

#scrollbar::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #D62929;
}

@media (max-width:750px){
    .container{
        grid-template-columns: auto;
        grid-template-rows: 50% auto;
        justify-items: center;
    }

    .informacion{
        padding: 10px;
    }
    
    .informacion #datos{
        font-size: 14px;
        font-weight: bolder;
    }
    
    .informacion #tecnica{
        font-size: 14px;
        margin-bottom: 10px;
    }

    .opcionesTexto{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .opcionesTexto p{
        margin: 12px;
        font-size: 10px;
        font-weight: bold;
    }
    
    .textboxArte{
        height:20vh;
        max-height: 25vh;
        width: 40vh;
        margin-bottom: 10px;
    }

    .obra{
        height: 30vh;
        margin-top: 10px;
    }
    
    .obra img{
        margin-top: 15px;
        height: 30vh;
        object-fit: scale-down;
        cursor: pointer;
    }

    .textos{
        margin: 15px;
    }

    .textbox{
        margin-top: 25px;
        padding: 0vw;
        height: 45vh;
        width:auto;
    }

    .textos #textotitulo{
        font-size: 20px;
    }

    .datos h1{
        font-size: 24px;
    }

    .textboxbio{
        margin-top: 50px;
        height:80px;
        width:95%;
    }
    
}